.div{
    display: flex;
    position: absolute;
    background-color: rgba(132, 64, 9, 0.588);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 300px;
    left: 25%;
    top: 100px;
    box-shadow: 3px 3px 3px 3px rgba(14, 14, 14, 0.458);
}

.h2{
    display: flex;
    position: absolute;
    bottom: 70%;
    font-family: Heavitas;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(5, 5, 5), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
}
.p{
    display: flex;
    position: absolute;
    bottom: 30%;
    font-size: 15px;
    font-family: Heavitas;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(5, 5, 5), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
}
.bien{
    display: flex;
    position: absolute;
    bottom: 53%;
    font-family: Heavitas;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(5, 5, 5), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
}
.boton{
    display: flex;
    position: relative;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.891);
    color: rgb(40, 150, 7);
    font-size: 20px;
    font-family: Insaniburger;
    outline: none;
    border: 1px solid black;
    top: 115px;
}

.link  button:hover{
    background-color: #04a104fa;
    color: rgb(255, 255, 255);
 }
 .link button:active{
    background-color: rgb(240, 17, 17);
    color: rgb(255, 255, 255);
 }

.link{
    text-decoration: none;
}