.div{
    display: grid;
    position: relative;
    background-color: #e19f06c7;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    margin: 10px;
    border: 1px solid black;
    width: 900px;
    height: 730px;
    left: 75px;
    box-shadow: 3px 3px 3px 3px rgba(14, 14, 14, 0.458);
}
.boxSteps{
    display: grid;
    position: absolute;
    background-color: #53e106c7;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    margin: 5px;
    border: 1px solid black;
    width: 500px;
    height: 330px;
    left: 40%;
    top: 52%;   
}

.foo{
    background-color: black;
    margin-top: 30px;
    height: 25px;
  }
  .H{
    display: flex;
    position: relative;
    color: white;
    font-size: 12px;
    top: 7px;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }
  

.image{
    display: grid;
    position: absolute;
    border-radius: 10px;
    bottom: 395px;
    left: 20px;
    width: 405px;
    height: 260px;
    margin: 5px;
    border: 1px solid black;
}

.name{
    display: grid;
    position: absolute;
    bottom: 687px;
    left: 3%;
    justify-content: center;
    align-items: center;
    margin: 3px;
    font-size: 20px;
    font-family: Heavitas;
}

.id{
    display: grid;
    position: absolute;
    bottom: 665px;
    left: 3%;
    font-size: 13px;
    margin: 5px;
    font-family: Heavitas;
}

.summary{
    display: grid;
    position: absolute;
    left: 53%;
    top: 69px;
    width: 390px;
    margin: 5px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Hsummary{
    display: grid;
    position: absolute;
    left: 55%;
    top: 43px;
    width: 350px;
    margin: 5px;
    font-size: 20px;
    font-family: Heavitas;
}

.diet{
    display: grid;
    position: relative;
    font-family: Heavitas;
    left: 12px;
    top:357px;
    width: 270px;
    margin: 5px;
    font-size: 15px;
    justify-content: center;
    background-color: blueviolet;
    border-radius: 3px;
    
}
.Hdiet{
    display: grid;
    position: relative;
    font-family: Heavitas;
    right: 18px;
    top:355px;
    width: 330px;
    margin: 5px;
    font-size: 20px;
}

.paso{
    display: flex;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 5px;
    width: 490px;
    margin: 1px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.Hpaso{
    display: grid;
    position: absolute;
    font-family: Heavitas;
    left: 49%;
    top: 356px;
    width: 330px;
    margin: 5px;
    font-size: 20px;
}
.healthScore{
    display: grid;
    position: absolute;
    font-family: Heavitas;
    right: 74%;
    top: 96%;
    margin: 2px;
    font-size: 20px;
}
.div span:hover{
    background-color: #fffffffa;
    color: rgb(28, 148, 4);
}

.div span:active{
    background-color: rgb(189, 23, 15);
    color: azure;
}
.msg{
    display: flex;
    position: relative;
    left: 30%;
    background-color: rgba(238, 11, 11, 0.911);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    color: white;
    width: 600px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 3px 3px 3px 3px rgba(14, 14, 14, 0.458);
}
