.foo{
  position: relative;
  background-color: black;
  margin-top: 30px;
  height: 25px;
  bottom: 5px;
}
.fooFalla{
  position: relative;
  background-color: black;
  margin-top: 30px;
  height: 40px;
  top: 240px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.select{
  background-color: rgb(156, 49, 3);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px;
  justify-content: center;
  outline: none;
}


.H{
  display: flex;
  position: relative;
  color: white;
  font-size: 12px;
  top: 7px;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.boton{
    background-color: rgb(108, 61, 3);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    outline: none;
}


.div  button:hover{
    background-color: #fffffffa;
    color: rgb(192, 10, 10);
  }
.div button:active{
    background-color: rgb(244, 75, 112);
    color: azure;
  }